.tab-selected {
  .angular-logo {
    color: #e4393c;
  }
  .vue-logo {
    color: #42b983;
  }
}

.fix-button {
  position: fixed;
  width: auto;
  height: auto;
  bottom: 70px;
  right: 20px;
  --padding-start: 0;
  --padding-end: 0;
  // --box-shadow: none;
  .button-add {
    font-size: 50px;
    &::before {
      color: var(--ion-color-main);
    }
  }
}
