<!--
 * @Author: cjy
 * @Date: 2022-02-01 03:15:29
 * @LastEditTime: 2022-02-03 18:13:07
 * @LastEditors: cjy
 * @Description: 
 * @FilePath: /note/src/app/tabs/tabs.page.html
-->
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="todo">
      <ion-icon name="clipboard-outline"></ion-icon>
      <ion-label>代办</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="angular">
      <ion-icon name="logo-angular" class="angular-logo"></ion-icon>
      <ion-label>angular</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="logo-vue" class="vue-logo"></ion-icon>
      <ion-label>vue</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

<!-- 悬浮按钮 -->
<ion-button (click)="openAdd()" class="fix-button" color="none" shape="round">
  <ion-icon slot="icon-only" class="iconfont icon-jiahao button-add"></ion-icon>
</ion-button>

<!-- 新建列表弹窗-->
<ion-modal [isOpen]="isModalOpen">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <!-- <ion-buttons slot="start"> -->
          <!-- <ion-back-button defaultHref="/"></ion-back-button> -->
        <!-- </ion-buttons> -->
        <ion-title>新增代办</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="isModalOpen = false" expand="block" fill="clear" shape="round">
            close
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <app-todo-add></app-todo-add>
  </ng-template>
</ion-modal>